/* Añade sombras y bordes deportivos */
:host ::ng-deep .carousel-image {
  border-radius: 10px;
}

:host ::ng-deep .carousel-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
