<div class="relative w-full h-64">
    <img src=" https://cdn.pixabay.com/photo/2021/11/22/20/20/online-6817350_1280.jpg" alt="" class="w-full h-full object-cover">
<div class="absolute inset-0 flex items-center justify-center">
    <h2 class="text-white text-xl font-semibold bg-black bg-opacity-50 p-4 rounded">
        En MegaShop, te ofrecemos productos de calidad con la mejor experiencia de compra, rápida y confiable.
    </h2>
</div>
    <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
        <!-- Sobre Jumbo Section -->
        <div class="w-full md:w-1/2 px-4">
            <h2 class="text-3xl font-semibold">Sobre MegaShop</h2>
            <h3 class="text-xl font-normal py-3">Objetivo</h3>
            <p class="mt-0 text-base text-justify py-1/2 text-gray-600">
                En MegaShop, nuestro objetivo es ofrecer una plataforma de compra en línea que sea sencilla, rápida y confiable. Buscamos proporcionar a nuestros clientes productos de alta calidad a precios accesibles, con un proceso de compra eficiente y un servicio de entrega seguro.
            </p>
           <h3 class="text-xl font-normal py-3">Visión</h3>
            <p class="mt-0 text-base text-justify py-1/2 text-gray-600">
                Nuestra visión es ser la tienda en línea líder en el mercado, destacándonos por nuestra innovación continua, la amplia variedad de productos y un servicio al cliente que supere las expectativas. Aspiramos a ser reconocidos como una referencia en el comercio electrónico, creando una experiencia de compra única para cada cliente.
            </p>
            <h3 class="text-xl font-normal py-3">Misión</h3>
            <p class="mt-0 text-base text-justify py-1/2 text-gray-600">
                Nuestra misión es proporcionar una experiencia de compra completa, donde cada cliente pueda encontrar lo que necesita con facilidad. Nos comprometemos a mantener una amplia selección de productos, implementando tecnología avanzada para mejorar cada aspecto del proceso de compra, y garantizando un servicio al cliente dedicado y personalizado.
            </p>
            <!-- Additional details can be added here -->
        </div>

        <!-- Historia Section -->
        <div class="w-full md:w-1/2 px-4">
            <h2 class="text-2xl font-semibold">Historia</h2>
            <p class="mt-2 text-base text-gray-600">
                En 1960 en la ciudad de Temuco (Sur de Chile) una familia fundó un proyecto muy pequeño que sería pionero...
            </p>
            <!-- Additional details can be added here -->
        </div>
    </div>
</div>
</div>