<app-navbar></app-navbar>

<div class="bg-[#fdf5e6]">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Products</h2>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <a *ngFor="let product of products" [routerLink]="['/product-details', product.id]" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img [src]="product.imagen" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">{{ product.name }}</h3>
        <ng-container *ngIf="getCurrentPrice(product.prices) as currentPrice">
          <p class="mt-1 text-lg font-medium text-gray-900">{{ currentPrice.cost | currency }}</p>
        </ng-container>
        <ng-container *ngIf="!getCurrentPrice(product.prices)">
          <p class="mt-1 text-lg font-medium text-gray-900">Precio no disponible</p>
        </ng-container>
      </a>
    </div>
  </div>
</div>
