<app-navbar></app-navbar>

<div class="bg-[#fdf5e6]">
  <!-- Selector de categorías -->
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="mb-4">
      <label for="category" class="block text-sm font-medium text-gray-700 mb-2">
        Filtrar por categoría
      </label>
      <div class="relative">
        <select 
          id="category"
          [(ngModel)]="selectedCategory" 
          (change)="filterProducts()"
          class="block w-full appearance-none bg-white border border-gray-300 text-gray-900 rounded-md py-2 px-3 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          <option value="0">Todas las categorías</option> <!-- Opción para no filtrar -->
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-400">
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </div>
      </div>
    </div>
  </div>

  <!-- Lista de productos filtrados -->
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Productos</h2>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <a *ngFor="let product of filteredProducts" [routerLink]="['/product-details', product.id]" class="group">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
          <img [src]="product.imagen" alt="Product image" class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">{{ product.name }}</h3>
        <ng-container *ngIf="getCurrentPrice(product.prices) as currentPrice">
          <p class="mt-1 text-lg font-medium text-gray-900">{{ currentPrice.cost | currency }}</p>
        </ng-container>
        <ng-container *ngIf="!getCurrentPrice(product.prices)">
          <p class="mt-1 text-lg font-medium text-gray-900">Precio no disponible</p>
        </ng-container>
      </a>
    </div>
  </div>
</div>
