<app-navbar></app-navbar>
<div class="flex"></div>

<div class="w-full max-w-lg bg-white rounded-lg shadow-lg p-4 mx-auto mt-10">
  <h2 class="text-2xl font-bold mb-4 text-center">Creacion de categoria</h2>

  <div *ngIf="errorMessages.length > 0" class="bg-red-100 border border-red-400 text-red-700 px-3 py-2 rounded mb-4">
    <ul>
      <li *ngFor="let error of errorMessages">{{ error }}</li>
    </ul>
  </div>
  
  <form (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="name" class="block">Nombre de la Categoria</label>
      <input type="text" id="name" [(ngModel)]="categoryData.name" name="nombreCategoria" class="w-full border p-2 rounded" placeholder="Nombre de la categoria" required>
    </div>

    <div class="mb-3">
      <label for="description" class="block">Descripción</label>
      <textarea id="description" [(ngModel)]="categoryData.description" name="descripcion" rows="3" class="w-full border p-2 rounded" placeholder="Describe la categoria" required></textarea>
    </div>


    <button type="submit" class="w-full p-2 text-white bg-red-500 rounded hover:bg-red-600">Crear categoria </button>
  </form>

  <div *ngIf="showNewCategory" class="fixed inset-0 flex items-center justify-center z-50">
    <div class="p-4 md:p-5 text-center bg-white rounded-lg shadow-lg dark:bg-green-800">
      <svg class="mx-auto mb-4 text-green-400 w-12 h-12 dark:text-green-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
      </svg>
      <h3 class="mb-5 text-lg font-normal text-green-500 dark:text-green-400">Categoria creada con exito</h3>
      <button (click)="closeNewCategorySuccessMessage()" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Ok</button>
    </div>
</div>
</div>
