<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<app-navbar></app-navbar>
<div class="w-[30%] max-w-xl min-w-[200px] relative mt-4" style="position: absolute; top: 10px; left: 100%; transform: translateX(-50%); z-index: 1000;">

  <div class="relative mt-10" style="width: 50%;">
    <button routerLink="/addCategories" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-800">Crear una nueva categoria</button>
  </div>
</div>

<ul role="list" class="divide-y divide-gray-100 max-w-xl mx-auto" style="margin-top: 100px;">
    <li *ngFor="let category of categories" class="flex justify-between gap-x-4 py-4 items-center">
      <div class="flex min-w-0 gap-x-4">         
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">{{ category.name }}</p>
          <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{ category.description }}</p>
        </div>
      </div>
      <div class="flex items-center gap-x-2 mt-2">
        <button [routerLink]="['/update-category', category.id]" class="text-blue-500 hover:text-blue-700">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button  class="text-red-500 hover:text-red-700">
          <i class="fas fa-trash"></i>
        </button>
      </div>

    </li>
</ul>

