<app-navbar></app-navbar>
<div class="flex bg-red-600">

<div class="w-full max-w-lg bg-white rounded-lg shadow-xl p-4 mx-auto mt-10">
  <h2 class="text-2xl font-semibold mb-4 text-center">Alta de producto</h2>
  
  <form (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="name" class="block">Nombre del Producto</label>
      <input type="text" id="name" [(ngModel)]="productData.name" name="nombreProducto" class="w-full border p-2 rounded" placeholder="Nombre del producto" required>
    </div>

    <div class="mb-3">
      <label for="description" class="block">Descripción del producto</label>
      <textarea id="description" [(ngModel)]="productData.description" name="descripcion" rows="3" class="w-full border p-2 rounded" placeholder="Describe tu producto" required></textarea>
    </div>
    
    <div class="mb-3">
      <label for="stock" class="block">Stock</label>
      <input type="number" id="stock" [(ngModel)]="productData.stock" name="stock" class="w-full border p-2 rounded" placeholder="Stock" required>
    </div>

    <div class="mb-3">
        <label for="waist" class="block">Talle</label>
        <input type="text" id="waist" [(ngModel)]="productData.waist" name="stock" class="w-full border p-2 rounded" placeholder="Talle" required>
    </div>
    <div class="mb-3">
      <input type="url" id="website" [(ngModel)]="productData.imagen" name="imagen" class="w-full border p-2 rounded" placeholder="https://imagen.com" required>
    </div>

    <div class="mt-6">
    <label for="brand">Marca:</label>
    <select id="brand" name="brand" class="w-full border p-2 rounded" [(ngModel)]="productData.brand" required>
      <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
    </select>
    </div>

    <div class="mt-6">
    <label for="distributor">Distribuidor:</label>
    <select id="distributor" name="distributor" class="w-full border p-2 rounded" [(ngModel)]="productData.distributor" required>
        <option *ngFor="let distributor of distributors" [value]="distributor.id">{{distributor.name}}</option>
    </select>
    </div>

    <div class="mt-6">
    <label for="category">Categoria:</label>
    <select id="category" name="category" class="w-full border p-2 rounded" [(ngModel)]="productData.category" required>
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>
    </div>

    <div class="mt-6">
    <label for="gender" class="block">Público (Género):</label>
    <select id="gender" name="gender" class="w-full border p-2 rounded" [(ngModel)]="productData.gender" required>
      <option [ngValue]="null" disabled>Seleccione el género</option>
      <option *ngFor="let g of genders" [value]="g.id">{{ g.name }}</option>
    </select>
    </div>

    <div class="mt-6">
      <label for="dateFrom">Fecha Desde:</label>
      <input type="date" id="dateFrom" [(ngModel)]="productData.price.dateFrom" name="dateFrom" class="w-full border p-2 rounded" required>
    </div>

    <div class="mt-6">
      <label for="dateUntil">Fecha Hasta:</label>
      <input type="date" id="dateUntil" [(ngModel)]="productData.price.dateUntil" name="dateUntil" class="w-full border p-2 rounded" required>
    </div>

    <div class="mt-6">
      <label for="cost">Costo:</label>
      <input type="number" id="cost" [(ngModel)]="productData.price.cost" name="cost" class="w-full border p-2 rounded" placeholder="Costo" required>
    </div>


    <button type="submit" class="w-full mt-4 p-2.5 text-white bg-red-500 rounded hover:bg-red-600">Registrar Producto</button>
  </form>
</div>
</div>

<div *ngIf="showAddProduct" class="fixed inset-0 flex items-center justify-center z-50">
  <div class="p-4 md:p-5 text-center bg-white rounded-lg shadow-lg dark:bg-green-800">
    <svg class="mx-auto mb-4 text-red-400 w-12 h-12 dark:text-green-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
    </svg>
    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-green-400">Producto creado con exito</h3>
    <button (click)="closeAddProductSuccesfulMessage()" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Ok</button>
  </div>
</div>