<app-navbar></app-navbar>
<div class="flex"></div>

<div class="w-full max-w-lg bg-white rounded-lg shadow-lg p-4 mx-auto mt-10">
  <h2 class="text-2xl font-bold mb-4 text-center">Inscripción de Distribuidor</h2>

  <div *ngIf="errorMessages.length > 0" class="mt-4">
    <div *ngFor="let message of errorMessages" class="text-red-500">
      {{ message }}
    </div>
  </div>
  
  <form (ngSubmit)="submitForm()">
    <div class="mb-3">
        <label for="Cuil" class="block">Cuil del Distribuidor</label>
        <input type="number" id="Cuil" [(ngModel)]="distributorData.CUIL" name="Cuil" class="w-full border p-2 rounded" placeholder="Cuil del Distribuidor" required>
      </div>
    
    <div class="mb-3">
      <label for="name" class="block">Nombre del Distribuidor</label>
      <input type="text" id="name" [(ngModel)]="distributorData.name" name="nombreDistribuidor" class="w-full border p-2 rounded" placeholder="Nombre del Distribuidor" required>
    </div>

    <div class="mb-3">
      <label for="surname" class="block">Apellido del Distribuidor</label>
      <input type="text" id="surname" [(ngModel)]="distributorData.surname" name="surname" rows="3" class="w-full border p-2 rounded" placeholder="Apellido del Distribuidor" required>
    </div>

    <div class="mb-3">
      <label for="email" class="block">Email</label>
      <input type="email" id="email" [(ngModel)]="distributorData.email" name="email" class="w-full border p-2 rounded" placeholder="Email del Distribuidor" required>
    </div>

    <div class="mb-3">
      <label for="email" class="block">Telefono</label>
      <input type="telefono" id="telefono" [(ngModel)]="distributorData.phoneNumber" name="phoneNumber" class="w-full border p-2 rounded" placeholder="Numero de telefono" required>
    </div>

    <div class="mb-3">
      <label for="direccion" class="block">Dirección</label>
      <input type="text" id="direccion" [(ngModel)]="distributorData.address" name="direccion" class="w-full border p-2 rounded" placeholder="Direccion del Distribuidor" required>
    </div>


    <button type="submit" class="w-full p-2 text-white bg-red-500 rounded hover:bg-red-600">Inscribir Distribuidor</button>
  </form>

  <div *ngIf="showNewDistributor" class="fixed inset-0 flex items-center justify-center z-50">
    <div class="p-4 md:p-5 text-center bg-white rounded-lg shadow-lg dark:bg-green-800">
      <svg class="mx-auto mb-4 text-green-400 w-12 h-12 dark:text-green-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
      </svg>
      <h3 class="mb-5 text-lg font-normal text-green-500 dark:text-green-400">Distribuidor añadido correctamente</h3>
      <button (click)="closeNewDistributorSuccessMessage()" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Ok</button>
    </div>
</div>
</div>

