<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div class="bg-[url('https://images.unsplash.com/photo-1605902711834-8b11c3e3ef2f?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center h-screen">
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class=" bg-red-600 rounded-md py-1 mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Ingresa a tu cuenta</h2>
  </div>

  <div *ngIf="errorMessages.length > 0" class="bg-red-100 border border-red-400 text-red-700 px-3 py-2 rounded mb-4">
    <ul>
      <li *ngFor="let error of errorMessages">{{ error }}</li>
    </ul>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6"(ngSubmit)="submitForm()">
      <div>
        <label for="email" class="bg-red-600 text-white rounded-md px-2 py-1 text-sm font-medium leading-6">Nombre de usuario</label>
        <div class="mt-2">
          <input id="email" [(ngModel)]="userData.userName" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5  text-gray-900 shadow-xl ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-400 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="bg-red-600 rounded-md px-2 py-1 text-sm font-medium leading-6  text-white">Contraseña</label>
          <div class="text-sm">
            <a href="#" class="font-semibold text-white bg-red-600 transition all ease delay-50 hover:text-orange-900">¿Olvidaste tu contraseña?</a>
          </div>
        </div>
        <div class="mt-2">
          <input id="password" [(ngModel)]="userData.password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-xl ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-400 sm:text-sm sm:leading-6">
        </div>
      </div>
      <div class="text-sm">
        <a routerLink="/register" class=" bg-red-600 px-2 rounded-md font-semibold text-white transition all ease delay-50 hover:text-red-900"> ¿No tienes una cuenta? Registrate Aquí</a>
      </div>

      <div>
        <button type="submit" class="transition all ease delay-50 flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600 hover:bg-red-950">Ingresar</button>
      </div>
    </form>
  </div>
</div>
</div>
