<div class="p-4 bg-gray-100 rounded-md shadow-md max-w-md mx-auto">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="filterProducts()"
    placeholder="Buscar productos..."
    class="w-full p-2 mb-4 text-gray-700 border border-gray-300 rounded focus:outline-none focus:border-blue-500"
  />

  <ul class="divide-y divide-gray-200">
    <li
      *ngFor="let product of filteredProducts"
      class="py-2 text-lg text-gray-800 hover:bg-blue-100 rounded-md cursor-pointer"
    >
      {{ product.name }}
    </li>
  </ul>
</div>
