<form action="brand.controler.ts" method="post">
    <label for="nombre">Nombre de la marca:</label>
    <input type="text" id="nombre" name="nombre" required>
  
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion"></textarea>
  
    <label for="website">Sitio web:</label>
    <input type="url" id="website" name="website">
  
    <label for="pais">País de origen:</label>
    <select id="pais" name="pais">
      <option value="Argentina">Argentina</option>
      <option value="Brasil">Brasil</option>
      <option value="Argentina">EEUU</option>
      <option value="Brasil">Taiwan</option>
      <option value="Argentina">Chile</option>
      <option value="Argentina">Peru</option>
      <option value="Brasil">Uruguay</option>
      </select>
  
    <input type="submit" value="Enviar">
  </form>