<div class="max-w-4xl mx-auto font-[sans-serif] p-6">
    <div class="text-center mb-16">
      <h4 class="text-gray-800 text-base font-semibold mt-6">Registre sus datos</h4>
    </div>

    <div *ngIf="errorMessages.length > 0" class="bg-red-100 border border-red-400 text-red-700 px-3 py-2 rounded mb-4">
      <ul>
        <li *ngFor="let error of errorMessages">{{ error }}</li>
      </ul>
    </div>
    <form (ngSubmit)="submitForm()">
      <div class="grid sm:grid-cols-2 gap-8">
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Nombre</label>
          <input name="name" type="text" [(ngModel)]="userData.name" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter name" />
        </div>
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Apellido</label>
          <input name="lname" type="text" [(ngModel)]="userData.surname" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter last name" />
        </div>
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Mail</label>
          <input name="email" type="text" [(ngModel)]="userData.mail" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter email" />
        </div>
        <div>
            <label class="text-gray-800 text-sm mb-2 block">Dni</label>
            <input name="dni" type="number" [(ngModel)]="userData.dni" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter Dni" />
        </div>
        <div>
            <label class="text-gray-800 text-sm mb-2 block">Direccion</label>
            <input name="direccion" type="text" [(ngModel)]="userData.adress" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter Direccion" />
        </div>        
        <div>    
            <label class="text-gray-800 text-sm mb-2 block">Telefono</label>
            <input name="telefono" type="text" [(ngModel)]="userData.phoneNumber" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Ingrese telefono" />
        </div>
        <div>
            <label class="text-gray-800 text-sm mb-2 block">Rol</label>
            <select name="rol" [(ngModel)]="userData.rol" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all">
                <option value="" disabled selected>Selecciona un rol</option>
                <option value="Cliente">Cliente</option>
                <option value="Empleado">Empleado</option>
            </select>
        </div>
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Username</label>
          <input name="Username" type="text" [(ngModel)]="userData.userName" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Ingrese nombre de usuario" />
        </div>
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Password</label>
          <input name="password" type="password" [(ngModel)]="userData.password" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Ingrese contraseña" />
        </div>

      </div>

      <div class="!mt-12">
        <button type="submit" class="py-3.5 px-7 text-sm font-semibold tracking-wider rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none">
          Registrarse
        </button>
      </div>
    </form>


    <div *ngIf="isAccountCreated" id="accountCreatedModal" tabindex="-1" class="fixed overflow-y-auto overflow-x-hidden inset-0 z-50 flex justify-center items-center w-full h-[calc(100%-1rem)] max-h-full bg-gray-900 bg-opacity-50">
      <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <button (click)="closeModal()" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Cerrar modal</span>
          </button>
          <div class="p-4 md:p-5 text-center">
            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">¡Cuenta creada con éxito!</h3>
            <p>Serás redirigido al login en unos momentos...</p>
            <button (click)="closeModal()" type="button" class="text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
              Ir al Login
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>