<div class="max-w-4xl mx-auto font-[sans-serif] p-6">
    <div class="text-center mb-16">
      <a href="javascript:void(0)"><img
        src="https://readymadeui.com/readymadeui.svg" alt="logo" class='w-52 inline-block' />
      </a>
      <h4 class="text-gray-800 text-base font-semibold mt-6">Sign up into your account</h4>
    </div>

    <div *ngIf="errorMessages.length > 0" class="bg-red-100 border border-red-400 text-red-700 px-3 py-2 rounded mb-4">
      <ul>
        <li *ngFor="let error of errorMessages">{{ error }}</li>
      </ul>
    </div>
    <form (ngSubmit)="submitForm()">
      <div class="grid sm:grid-cols-2 gap-8">
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Nombre</label>
          <input name="name" type="text" [(ngModel)]="userData.name" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter name" />
        </div>
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Apellido</label>
          <input name="lname" type="text" [(ngModel)]="userData.surname" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter last name" />
        </div>
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Mail</label>
          <input name="email" type="text" [(ngModel)]="userData.mail" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter email" />
        </div>
        <div>
            <label class="text-gray-800 text-sm mb-2 block">Dni</label>
            <input name="dni" type="number" [(ngModel)]="userData.dni" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter Dni" />
        </div>
        <div>
            <label class="text-gray-800 text-sm mb-2 block">Direccion</label>
            <input name="direccion" type="text" [(ngModel)]="userData.adress" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter Direccion" />
        </div>        
        <div>    
            <label class="text-gray-800 text-sm mb-2 block">Telefono</label>
            <input name="telefono" type="text" [(ngModel)]="userData.phoneNumber" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Ingrese telefono" />
        </div>
        <div>
            <label class="text-gray-800 text-sm mb-2 block">Rol</label>
            <select name="rol" [(ngModel)]="userData.rol" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all">
                <option value="" disabled selected>Selecciona un rol</option>
                <option value="Cliente">Cliente</option>
                <option value="Empleado">Empleado</option>
            </select>
        </div>
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Username</label>
          <input name="Username" type="text" [(ngModel)]="userData.userName" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Ingrese nombre de usuario" />
        </div>
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Password</label>
          <input name="password" type="password" [(ngModel)]="userData.password" class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3.5 rounded-md focus:bg-transparent outline-blue-500 transition-all" placeholder="Ingrese contraseña" />
        </div>

      </div>

      <div class="!mt-12">
        <button type="submit" class="py-3.5 px-7 text-sm font-semibold tracking-wider rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none">
          Registrarse
        </button>
      </div>
    </form>
  </div>